---
/** @jsxImportSource astro */
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";

interface Props {
  article: CollectionEntry<"articles">;
}

const { article } = Astro.props;
---

<style>
  .article__item {
    width: 100%;

    * {
      text-decoration: none;
      transition: 0.2s ease;
    }
    img {
      border-radius: 12px;
    }
    a {
      display: flex;
      gap: 16px;
    }

    .article__title {
      margin: 0;
      color: rgb(var(--black));
      line-height: 1;
    }
    .article__date {
      margin: 0;
      color: rgb(var(--gray));
    }
    .article__preview {
      flex: 1;
    }

    .article__text {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
    }

    a:hover h4,
    a:hover .article__date {
      color: rgb(var(--accent));
    }
    a:hover img {
      box-shadow: var(--box-shadow);
    }

    @media (max-width: 720px) {
      width: 100%;
      text-align: center;
      &:first-child {
        margin-bottom: 0;
      }
      &:first-child .article__title {
        font-size: 1.563em;
      }
    }
  }
</style>
<li class="article__item">
  <a href={`/${article.slug}/`}>
    <img width={200} height={100} src={article.data.heroImage} alt="" />
    <div class="article__preview">
      <h4 class="article__title">{article.data.title}</h4>
      <p class="article__date">
        <FormattedDate date={article.data.pubDate} />
      </p>
      <p class="article__text">{article.data.description + "..."}</p>
    </div>
  </a>
</li>
