/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 :root {
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--border-radius: 4px;
	--padding: 16px;
	--pakistan-green: #243010ff;
	--accent: #718d19;
	--accent-dark: #87a330ff;
	--cal-poly-green: #2a3c24ff;
 }

 .light-theme {
	--background: 
	radial-gradient(black 3px, transparent 4px),
	radial-gradient(black 3px, transparent 4px),
	linear-gradient(#fff 4px, transparent 0),
	linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
	linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
	#fff;
	--background-color: white;
	--color: black;
	--layout-border: 1px solid #d0d7de;
	--header-background: white;
	--footer-background: white;
	--box-shadow: 0 5px 10px 5px  rgb(0 0 0 / .1);
	--gray: 96, 115, 159;
	--accent: #46954a;
 }


.dark-theme {
	--background: #22272e;
	--background-color: #22272e;
	--color: white;
	--layout-border: 1px solid #444c56;
	--header-background: var(--background);
	--footer-background: var(--background);
	--box-shadow: 0 0px 0px 0px  rgb(255 255 255 / .1);
	--gray: 173, 186, 199;
	--accent: #46954a;
}
	

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body {
	scrollbar-gutter: stable both-edges;
	overflow: auto;
}

html,body {
	height: 100%;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--color);
	font-size: 20px;
	line-height: 1.7;
}

main {
	max-width: 960px;
	padding: var(--padding);
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
	text-align: justify;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: var(--border-radius);
}
pre {
	padding: 1.5em;
	border-radius: var(--border-radius);
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333rem;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 600px) {
	body {
		font-size: 18px;
	}
}
