---
/** @jsxImportSource astro */
import type { CollectionEntry } from "astro:content";

interface Props {
  article: CollectionEntry<"articles">;
}

const { article } = Astro.props;
---

<style></style>
<p>SHEET</p>
