---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const today = new Date();
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <span class="footer__copyright"
    >&copy; {today.getFullYear()} Dylan Deruy -- {t("footer.copyright")}
    <a
      href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"
      target="__blank">cc by-sa 4.0</a
    >.
  </span>
  <a
    class="footer__copyright"
    href={getRelativeLocaleUrl(lang, "/legal-terms")}
    target="__blank">{t("footer.legalTerms")}</a
  >
</footer>
<style>
  footer {
    padding: 16px;
    background-color: var(--pakistan-green);
    color: var(--color);
    text-align: center;
    border-top: var(--layout-border);
    background-color: var(--footer-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    a {
      color: var(--accent);
      white-space: nowrap;
    }
  }
  .footer__copyright {
    font-size: 0.9rem;
  }
</style>
