---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  lang: string;
  noindex?: string;
} & CollectionEntry<"articles">["data"];

const { lang, title, description, noindex = "false" } = Astro.props;
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
    {noindex === "true" && <meta name="robots" content="noindex" />}
    <style>
      .page-layout {
        background-color: white;
        padding: var(--padding);
        border: var(--layout-border);
        border-radius: var(--border-radius);
        margin: 16px auto;
      }

      ::global(.dark-theme) {
        .page-layout {
          background: var(--background);
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main transition:name="main" class="page-layout">
      <slot />
    </main>
    <Footer />
  </body>
</html>
